---
date: 2025-07-26
description: "UK Online Safety Act : Age Verification"
# image: ""
post_date: 2025-07-26 19:18:00
lastmod: 2025-07-26
showTableOfContents: false
tags: ["Ofcom", "Internet", "UK", "Online Safety Act 2023",]
title: "Online Safety Act 2023"
type: "post"
---
On Friday 25th July 2025, [*The Online Safety Act 2023*](https://www.legislation.gov.uk/ukpga/2023/50/contents) came into effect in The United Kingdom.

Summary of my thoughts / opinions on this matter:

1/ In principle, I am totally okay with this.

The implimentation, however, is a total clusterfuck of silliness.

2/ It was invented by the previous Governnment in 2023. The Conservsative Party.

If you're blaming the current Government, you are a very silly sausage.

3/ Whilst there are valid concerns about the 3rd-Parties who provide the verification service, it's misguided to blame the individual platforms, (Reddit, BlueSky, etc.), themselves for having to adhere to UK Law.

4/ Because Elmo is a 12-yeaar-old moron, Twitter has yet to implement *any* age verification protocols, other than maintainting his moronic *Blue Tick* scam.
*#BlueTickWankers*

![](/images/20250723_185501_20250722_142041_ofcom_logo-e1595844252943-293x300.png)